.footer-content {
    position: relative;
  }
  .footer{
    margin-top: 40px;
  }
  .footer-text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: clamp(-1rem, -2vw, -2rem);
  }
  
  .footer-text-pos {
    position: absolute;
    top: 8%;
    margin-top: 15px;
    font-size: clamp(1rem, 2vw, 1.5rem);
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
  }
  
  .footer-heading {
    font-size: clamp(3rem, 18vw, 16rem);
    font-weight: bold;
    padding-top: 1.5rem;
    text-align: center;
    margin: 0;
    background: linear-gradient(to bottom, #f5d776 0%, #ffffff 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    letter-spacing: -2px;
    line-height: 0.9;
    font-family: "ITCAvantGardePro",sans-serif;
  }
  
  .footer-text {
    font-size: clamp(0.875rem, 1.8vw, 1.5rem);
    color: #333;
    margin: 0;
    text-align: center;
    font-family: "ITCAvantGardeProMedium",sans-serif;
  }

  @media (max-width: 576px) {
   
    
    .footer-text{
      font-size: clamp(0.575rem, 0.8vw, 1.5rem);
    }
    
    .footer-text-pos {
      flex-direction: row;
      font-size: 1rem;
    }
    
    
  }

  /* Media Queries for 4K screens */
  @media (min-width: 2560px) {
    
    
    .footer-heading {
      font-size: 19rem;
    }
  }